.section3 {
    h4 {
        width: 255px;
        color: #83888F;
        font-family: serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px;
    }
}



.box3 {
    width: 272px;
    height: 240px;

    img {
        width: 40.842px;
        height: 49.072px;
    }

    h2 {
        width: 272px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        padding-top: 20px;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 20px;
    }
}

.box4 {
    width: 272px;
    height: 240px;

    img {
        width: 40.842px;
        height: 49.072px;
    }

    h2 {
        width: 272px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }
}

.box5 {
    width: 272px;
    height: 240px;

    img {
        width: 40.842px;
        height: 49.072px;
        flex-shrink: 0;
    }

    h2 {
        width: 272px;
        color: #333D4B;
        font-family: serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
    }

    p {
        width: 285px;
        color: #333D4B;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        padding-top: 10px;
    }
}